@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply min-h-screen select-none bg-zinc-50 text-zinc-900 antialiased p-safe;

	/* PWA enhancements */
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}

body {
	color: white;
	background: #000099;
}

.loader {
	border-top-color: #3498db;
	-webkit-animation: spinner 1.5s linear infinite;
	animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.displayNone {
	display: none;
}

.slideOutToLeftAnimation {
	animation: 0.15s ease-out 0s 1 slideOutToLeft;
	animation-fill-mode:forwards;
}

.slideOutToRightAnimation {
	animation: 0.15s ease-out 0s 1 slideOutToRight;
	animation-fill-mode:forwards;
}

@keyframes slideOutToLeft {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-100%);
	}
}

@keyframes slideOutToRight {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(100%);
	}
}